<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title></title>

<link rel="stylesheet" href="/bheema/css/style2.css">

<link rel="stylesheet" href="/bheema/css/main.css">

<style type="text/css">
	#fk{
    width:50%; 
    height:100%; 
    position:absolute;
    left:350px; top:700px; 
    border:; }

  }
</style>
</head>
<body>
	<div class="row">
    <nav>
            <ul class="nav-ul">
              <li class="link"><a href="/bheema/">主页</a></li>
              <li class="link"><a href="/bheema/about/">关于</a></li>
              <li class="link"><a href="/bheema/archive/">文章</a></li>
            <li class="link"><a href="/bheema/contact/">联系</a></li>
  </ul>
    </nav>
</div>
	<div id="bj">
		<div class="noodles">
	<div class="cap right"></div>
	<div class="cap back"></div>
	<div class="side right"></div>
	<div class="side back"></div>
	<div class="noodle noodles-1"></div>
	<div class="noodle noodles-2"></div>
	<div class="noodle noodles-3"></div>
	<div class="side left"></div>
	<div class="side front">
		<div class="eyes"></div>
		<div class="mouth"></div>
	</div>
	<div class="cap left"></div>
	<div class="cap front"></div>
	
</div>
<div id="fk">
	<h3>{{page.title}}</h3>
	 {{ content }}


</div>
	</div>
	


</body>
</html>