<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title></title>

<link rel="stylesheet" href="/bheema/css/style9.css">
<link rel="stylesheet" href="/bheema/css/main.css">

<style type="text/css">
  
  #fk{
    width:50%; 
    height:100%; 
    position:absolute;
    left:350px; top:700px; 
    border:; }

  }
</style>


</head>
<body>
<div class="row">
    <nav>
            <ul class="nav-ul">
              <li class="link"><a href="/bheema/">主页</a></li>
              <li class="link"><a href="/bheema/about/">关于</a></li>
              <li class="link"><a href="/bheema/archive/">文章</a></li>
            <li class="link"><a href="/bheema/contact/">联系</a></li>
  </ul>
    </nav>
</div>
<div class="b">
  <div class='container'>
  <div id='l-ball' class='ball'>
    <div class='face face-l'>
      <div class='eye eye-l'></div>
      <div class='eye eye-r'></div>
      <div class='mouth'></div>
    </div>
  </div><div id='r-ball' class='ball'>
    <div class='face face-r'>
      <div class='eye eye-l eye-r-p'></div>
      <div class='eye eye-r eye-r-p'></div>
      <div class='mouth mouth-r'></div>
      <div class='kiss-m'>
        <div class='kiss'></div>
        <div class='kiss'></div>
      </div>
    </div>
  </div>
</div>
  
</div>
    
<div id="fk">
<h3>{{page.title}}</h3>
  {{ content }}




</body>
</html>
