<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title></title>


<link rel="stylesheet" href="/bheema/css/style10.css">
<link rel="stylesheet" href="/bheema/css/main.css">
<style type="text/css">
  
  #fk{
    width:50%; 
    height:100%; 
    position:absolute;
    left:350px; top:700px; 
    background-color: #ffe6cc }

  }
  ul{
  	display: none;
  }
</style>

</head>
<body>
<div class="row">
    <nav>
            <ul class="nav-ul">
              <li class="link"><a href="/bheema/">主页</a></li>
              <li class="link"><a href="/bheema/about/">关于</a></li>
              <li class="link"><a href="/bheema/archive/">文章</a></li>
            <li class="link"><a href="/bheema/contact/">联系</a></li>
  </ul>
    </nav>
</div>
<div class="wrapper">
	 <div class="wrapper__content">
			<div class="like">&#10084;</div>
			<div class="cup-body"></div>
			<div class="cup-body-shadow"></div>
			<div class="cup-body-shadow-bottom"></div>
			<div class="cup-label"></div>
			<div class="cup-label-red">
				 <div class="cup-label-red-shadow"></div>
			</div>
			<div class="face ">
				 <div class="face-eyes"></div>
				 <div class="face-mouth"></div>
				 <div class="face-blush"></div>
			</div>
			<div class="cup-upper">
				 <div class="cup-upper-shadow"></div>
			</div>
			<div class="cup-middle"></div>
			<div class="cup-bottom">
				 <div class="cup-bottom-shadow"></div>
			</div>
			<div class="floor"></div>
	 </div>
</div>
<div id="fk">
	<h2 align="center">关于我</h2>
	<p align="center" style="font-size: 40px">鬼精鬼精的女孩纸</p>



</div>
</body>
</html>