<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title></title>

<link rel="stylesheet" href="/bheema/css/main.css">
<link rel="stylesheet" href="/bheema/css/style3.css">
<style type="text/css">
	#fk{
    width:50%; 
    height:100%; 
    position:absolute;
    left:350px; top:700px; 
    border:; }

  }
</style>

</head>
<body>
	<div class="row">
    <nav>
            <ul class="nav-ul">
              <li class="link"><a href="/bheema/">主页</a></li>
              <li class="link"><a href="/bheema/about/">关于</a></li>
              <li class="link"><a href="/bheema/archive/">文章</a></li>
            <li class="link"><a href="/bheema/contact/">联系</a></li>
  </ul>
    </nav>
</div>

<div class="container">
	<ul class="moon">
	  <li class="crater"></li>
	  <li class="crater"></li>
	  <li class="crater"></li>
	</ul>
	<ul class="mountain-range">
	  <li class="mountain"></li>
	  <li class="mountain"></li>
	  <li class="mountain"></li>
	  <li class="mountain"></li>
	  <li class="mountain"></li>
	  <li class="mountain"></li>
	  <li class="mountain"></li>
	  <li class="mountain"></li>
	  <li class="mountain"></li>
	  <li class="mountain"></li>
	  <li class="mountain"></li>
	</ul>
	<div class="mountain-range-mask"></div>
  <ul class="forest">
	<li class="hill"></li>
	<li class="hill"></li>
	<li class="hill"></li>
  </ul>
  <ul class="sparkles">
	  <li class="sparkle one"></li>
	  <li class="sparkle one"></li>
	  <li class="sparkle one"></li>
	  <li class="sparkle one"></li>
	  <li class="sparkle two"></li>
	  <li class="sparkle two"></li>
	  <li class="sparkle two"></li>
	  <li class="sparkle two"></li>
	  <li class="sparkle three"></li>
	  <li class="sparkle three"></li>
	  <li class="sparkle three"></li>
	  <li class="sparkle three"></li>
	  <li class="sparkle four"></li>
	  <li class="sparkle four"></li>
	  <li class="sparkle four"></li>
	  <li class="sparkle four"></li>
	  <li class="sparkle five"></li>
	  <li class="sparkle five"></li>
	  <li class="sparkle five"></li>
	  <li class="sparkle five"></li>
	  <li class="sparkle six"></li>
	  <li class="sparkle six"></li>
	  <li class="sparkle six"></li>
	  <li class="sparkle six"></li>
	  <li class="sparkle seven"></li>
	  <li class="sparkle seven"></li>
	  <li class="sparkle seven"></li>
	  <li class="sparkle seven"></li>
	  <li class="sparkle eight"></li>
	  <li class="sparkle eight"></li>
	  <li class="sparkle eight"></li>
	  <li class="sparkle eight"></li>
	</ul>
  <div class="grass">
	<div class="pokemon">
	  <div class="poke" id="bulbasaur">
		<div class="ear"></div>
		<div class="ear"></div>
		<div class="head"></div>
		<div class="leg"></div>
		<div class="bulba-body"></div>
		<div class="bulbs">
		  <div class="bulb"></div>
		</div>
	  </div>
	  <div class="poke" id="pikachu">
		<div class="ear"></div>
		<div class="ear"></div>
		<div class="hand"></div>
		<div class="pika-body"></div>
		<div class="head"></div>
		<div class="pika-tail"></div>
	  </div>
	</div>
  </div>
</div>

<div id="fk">
	<h3>{{page.title}}</h3>
	{{ content }}
</div>


</body>
</html>
