<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title></title>

<link rel="stylesheet" href="/bheema/css/style4.css">
<link rel="stylesheet" href="/bheema/css/main.css">

<style type="text/css">
  
  #fk{
    width:50%; 
    height:100%; 
    position:absolute;
    left:350px; top:700px; 
    border:; }

  }
</style>

</head>
<body>
	<div class="row">
    <nav>
            <ul class="nav-ul">
              <li class="link"><a href="/bheema/">主页</a></li>
              <li class="link"><a href="/bheema/about/">关于</a></li>
              <li class="link"><a href="/bheema/archive/">文章</a></li>
            <li class="link"><a href="/bheema/contact/">联系</a></li>
  </ul>
    </nav>
</div>
  <div class="a">
    <div class="earth">
  <div class="mapWrapper">
  <img src="/bheema/svg/worldMapSimplified.svg">
</div>
  <div class="faceWrapper">
    <div class="eye left">
      <div class="whiteLeft"></div>
      <div class="whiteRight"></div>
    </div>
    <div class="eye right">
      <div class="whiteLeft"></div>
      <div class="whiteRight"></div>
    </div>
    <div class="blush left"></div>
    <div class="blush right"></div>
    <div class="mouth">
      <div class="tongue"></div>
    </div>
  </div>
  <div class="earthShadow"></div>
</div>

<div class="stars"></div>

</div>

<div id="fk">
  <h3>{{page.title}}</h3>
  {{ content }}
  
</div>

</body>
</html>